
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'), url('fonts/roboto.woff2') format('woff2'), url('roboto.woff') format('woff'), url('roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'), url('fonts/robotomedium.woff2') format('woff2'), url('robotomedium.woff') format('woff'), url('robotomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
body {
  font-size: 16px;
  line-height:22px;
  color: #283136;
  font-weight: 500;
  font-family: 'Roboto', 'Arial', sans-serif;
  margin: 0 auto;
  padding: 0;
  min-width: 900px;
}
.main-header {
  background: #eeeeee;
  color: #000000;
  font-size: 0;
}
.container {
  width: 880px;
  margin: 0 auto;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-logo {
  display: inline-block;
  width: 139px;
  vertical-align: top;
  margin-top: 27px;
}
.container-navigation{
  display: inline-block;
  width: auto;
  vertical-align: top;
  margin-left: 135px;
}
.main-navigation ul{
  margin: 0;
  padding: 0;
  font-size: 0;
}
.navigation-point{
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  width: auto;
  list-style: none;
  margin-top: 52px;
  margin-bottom: 35px;
}
.choose {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  width: auto;
  list-style: none;
  margin-top: 52px;
  margin-bottom: 33px;
}
.main-navigation a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  margin-left: 45px;
}
.main-navigation a:hover{
  color: #ff6666;
}
.main-navigation a:active{
  opacity: 0.4;
  color: #000000;
}
.choose div{
  color: #000000;
  text-transform: uppercase;
  margin-left: 45px;
  border-bottom: 2px solid #ff6666;
}
.basket {
  float: right;
  max-width: 100px;
}

.basket a{
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  padding-left: 30px;
  margin-top: 52px;
  margin-bottom: 33px;
  color: #000000;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
}
.basket a::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 2px;
  background: transparent url("../img/sprite.png") no-repeat;
  opacity: 0.3;
  width: 15px;
  height: 15px;
  background-position: -5px -5px;
}
.basket a:hover::before {
  background-position: -30px -5px;
  opacity: 1;
}
.basket a:active::before {
  background-position: -5px -5px;
  opacity: 0.15;
}

.basket a:hover{
  color: #ff6666;
}
.basket a:active{
  opacity: 0.4;
  color: #000000;
}

.main-block1 {
  min-height: 225px;
  background: #eeeeee;
  margin-bottom: 80px;
}

.promo {
  width: 470px;
  min-height: 195px;
  float:left;
  margin-top: 22px;
  margin-bottom: 70px;
}
.img-slider1, .img-slider2, .img-slider3 {
  float: right;
}
.img-slider1{
  width: 338px;
  margin-top: 19px;
}
.img-slider2{
  margin-top: 23px;
  margin-right: 10px;
}
.img-slider3{
  width: 333px;
  height: 319px;
  margin-right: 6px;

}
.slider1, .slider2 {
  display: none;
}
.slider{
    position:relative;
    width:880px;
    height:319px;
    margin:0 auto;
}
.slider input[type=radio] {
    position:absolute;
    opacity:0;
}
.slider-controls{
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-110px;
    text-align:center;
    z-index:1000;
}
.slider-controls label{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background:#c1c1c1;
}
.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}
.slide:nth-child(1){
    background-image:url('img/slider-bg.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(2){
    background-image:url('img/slider-bg-2.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(3){
    background-image:url('img/slider-bg-3.png');
    background-repeat:no-repeat;
    background-position:100% 0;
}
.slide{
    display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}
.slider-heading, .about-us-heading, .footer-heading{
  font-size: 36px;
  line-height: 36px;
}
.slider-text, .about-us-text, .footer-text{
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 29px;
  font-weight: 400;
}


.btn-more {
  display: inline-block;
  width: 240px;
  background: #fb565a;
  color: white;
  text-decoration: none;
  font-weight: medium;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 2px;
}

.service {
  width: 880px;
  height: auto;
  background: #ffffff;
}
.service-content {
  width: 240px;
  height: auto;
  float: left;
  margin-right: 80px;
}
.service-content:last-child {
  margin-right: 0;
}
.service-heading {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.service-text {
  font-size: 15px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 28px;
  margin-top: 12px;
}
.btn-buy{
  display: inline-block;
  width: 140px;
  background: #fb565a;
  color: white;
  text-decoration: none;
  font-weight: medium;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 2px;
  margin-bottom: 80px;
}
.pink:hover{
  background: #cc3366;
}
.pink:active{
  background: #b63538;
}
.green{
  background: #00cc66;
}
.green:hover{
  background: #01a25e;
}
.green:active{
  background: #009053;
}
.yellow {
  background: #ffcc33;
}
.yellow:hover {
  background: #d6ae2c;
}
.yellow:active {
  background: #c09b24;
}
.service::after {
  content: "";
  display: block;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 59px;
}

.about-us {
  width: 880px;
  height: auto;
  background: #ffffff;
}
.about-us-top {
  width: 880px;
}

.about-us-bottom {
  width: 880px;
  padding-bottom: 49px;
}
.about-us-left {
  float: left;
  width: 600px;
}
.about-us-right{
  float: right;
  width: 240px;
}
.about-us-heading {
  margin-top: 10px;
  margin-bottom: 20px;
}
.about-us-text {

}
.uppercase {
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 25px;
}

.about-us-list {
  margin: 14px 0;
  padding: 0;
  list-style: none;
}

.about-us-list li {
  position: relative;

  margin-bottom: 22px;
  padding-left: 35px;
}

.about-us-list li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}
.full-logo img {
  margin-left: 30px;

}
.about-us-date {
  margin-top: 22px;
  margin-bottom: 42px;
  text-align: center;
}
.about-us-date span{
  position: relative;
  z-index: 2;
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  font-size: 16px;
  line-height: 8,56px;
  text-align: center;
  background: white;
  text-transform: uppercase;
}
.about-us-date::after {
  content: "";
  position: relative;
  top: -10px;
  z-index: 1;
  display: block;
  border-bottom: 2px solid #eeeeee;
}
.about-us::after {
  content: "";
  display: block;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 40px;
}

.logos {
  font-size: 0px;
  background: #ffffff;
}
.logos::after {
  content: "";
  display: block;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 84px;
  margin-top: 25px;
}
.logo-client {
  margin-right: 110px;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.2;
  margin-left: 10px;
}
.logo-client:last-child {
  margin-right: 0;
}

.logo-client:hover{
  opacity: 1.0;
}
.logo-client:active{
  opacity: 1.0;
}

.map {
  width: 100%;
  position: relative;
  height: 416px;
  overflow: hidden;
}
.map img{
  width: 100%;
  height: auto;
}

.contant-us{
  width: 250px;
  height: 240px;
  margin: 88px 0;
  background-color: #ffffff;
  position: absolute;
  top: 0px;
}
.contant-us h2{
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 25px 20px 10px 20px;
  font-weight: 500;
}
.contant-us p{
  font-size: 16px;
  line-height: 20px;
  margin: 0 20px;
  color: #666666;
}
.contant-us p span{
  display: block;
  margin: 20px 0;
}
.btn-contact-us {
  display: inline-block;
  width: 204px;
  background: #fb565a;
  color: white;
  text-decoration: none;
  font-weight: medium;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 2px;
  margin-bottom: 80px;
  margin-left: 20px;
  margin-top: 10px;
}
.btn-contact-us:hover{
  background: #cc3366;
}
.btn-contact-us:active{
  background: #b63538;
}

.main-footer {
  min-height: 215px;
  background: #ffffff;
}
.footercontainer {
  font-size: 0;
  padding-top: 73px;
}

.social-network {
  width: 320px;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  text-align: left;
  margin-top: 3px;
}
.social-network-text {
  width: 560px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.footer-heading {
  display: block;
  margin: 0;
}
.footer-text {
  display: block;
  margin-top: 10px;
}
.social-btn {
  width: 62px;
  height: 62px;
  background-color: #cccccc;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  text-align: left;
  margin-right: 26px;
  position: relative;
}
.social-btn:hover{
  background-color: #fb565a;
}
.social-btn:active{
  background-color: #d6494d;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent url("../img/sprite.png") no-repeat;
  transform: translate(-50%, -50%);
}

.social-btn-vk::before {
  width: 26px;
  height: 15px;
  background-position: -654px -5px;
}
.social-btn-fb::before {
  width: 12px;
  height: 22px;
  background-position: -538px -5px;
}
.social-btn-inst::before {
  width: 21px;
  height: 21px;
  background-position: -560px -5px;
}

/*#circle {
width: 100px;
height: 100px;
background: red;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
}*/
.main-block2 {
  min-height: 210px;
  background: #eeeeee;
  margin-bottom: 65px;
}
.shop-heading {
  display: block;
  width: 690px;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 100px;
  padding-top: 30px;
}
.shop{
  background: #ffffff;
}
.choise {
  float: left;
  width: 230px;
}
.range-filter {
  width: 230px;
  margin: 15px auto;
  margin-bottom: 43px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 0;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f1f1f1;
}


input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  display: block;
  margin: 18px 0;
  line-height: 25px;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
}
input[type="radio"] + label::before {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  background: url('../img/sprite.png') no-repeat;
  width: 25px;
  height: 25px;
  background-position: -265px -5px;
}
input[type="radio"] + label:hover::before {
  width: 25px;
  height: 25px;
  background-position: -440px -5px;
}
input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url('../img/sprite.png') no-repeat;
  width: 25px;
  height: 25px;
  background-position: -335px -5px;
}
input[type="radio"]:checked + label:hover::after {
  width: 25px;
  height: 25px;
  background-position: -405px -5px;
}


input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: block;

  position: relative;
  cursor: pointer;
  margin: 19px 0;
line-height: 25px;
padding-left: 35px;
}
input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  background: url('../img/sprite.png') no-repeat;
  width: 23px;
  height: 23px;
  background-position: -55px -5px;
}
input[type="checkbox"] + label:hover::before {
  width: 23px;
  height: 23px;
  background-position: -121px -5px;
}
input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url('../img/sprite.png') no-repeat;
  width: 27px;
  height: 23px;
  background-position: -154px -5px;
}
input[type="checkbox"]:checked + label:hover::after {
  width: 27px;
  height: 23px;
  background-position: -228px -5px;
}
.choise-list {
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
}
.choise-list li  label{
  font-size: 16px;
  line-height: 20px;
}
.form-heading{
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 30px;
  margin-top: 9px;
}

.form-item {
  list-style: none;
}
.form-choise input[type="submit"] {
  display: inline-block;
  width: 155px;
  background: #f1f1f1;
  color: #000000;
  text-decoration: none;
  font-weight: medium;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 2px;
  margin-bottom: 80px;
  margin-left: 0px;
  margin-top: 30px;
}
.form-choise input[type="submit"]:hover {
  background: #e5e5e5;
}
.form-choise input[type="submit"]:active {
  box-shadow: inset 0px 3px 0px 0px  #b5b5b5;
  background: #d5d5d5;
}

.sites {
  float: right;
  width: 560px;
}
.sort{
  width: 560px;
  font-size: 0;
}
.sort-text {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 18px;
  color: #000000;
}
.sort-menu {
  margin-left: 0;
}

.sort-menu ul{
  font-size: 0;
}
.sort-menu li{
  display: inline-block;
  list-style: none;
}
.sort-menu li a{
  font-size: 12px;
  text-transform: uppercase;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  padding-right: 36px;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #01a25e;
}
.sort-text, .sort-menu, .triangle-up, .triangle-down{
  display: inline-block;
  font-size: 12px;
}
.sort-menu li a:hover{
  text-decoration: underline;
  text-decoration-color: #01a25e;
  opacity: 1;
}
.by-price {
  margin-left: -2px;
  margin-right: 5px;
}
.by-type {
  margin-right: 5px;
}
.triangles {
  float:right;
  font-size: 0;
  width: 28px;
}
.triangle-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #c1c1c1;
  margin-top: 20px;
  margin-right: 5px;
}
.triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #c1c1c1;

}

.triangle-up:active{
  border-top: 10px solid #000000;
}
.triangle-down:active{
  border-bottom: 10px solid #000000;
}
.triangle-up:visited{
  border-top: 10px solid #01a25e;
}
.triangle-down:visited{
  border-bottom: 10px solid #01a25e;
}

.img {
  font-size: 0;
}
.sites-img {
  display: inline-block;
  width: 240px;
  font-size: 16px;
  margin-right: 80px;
  margin-bottom: 70px;
  vertical-align: bottom;
  position: relative;
  margin-top: 9px;
}
.sites-img:nth-child(2n) {
  margin-right: 0;
}
.site-window{
  padding-top: 30px;
  display: block;
  height: 240px;
  background: #f1f1f1;
  border-radius: 7px;
  position: relative;
  cursor: pointer;
}
.site-window::before {
  content: "";
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 8px;
}
.site-window::after {
  content: "";
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 26px;
}
.sites-img::after {
  content: "";
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 44px;
}
.site-window:hover {
  background: #797979;
}

.modal {
  width: 200px;
  height: 200px;
  background: white;
  position: absolute;
  top: 50px;
  left: 20px;
  display: none;

}
.sites-img:hover .modal{
  display: block;
}
.modal-center {
  width: 163px;
  width: 160px;
  margin: 0 auto;
}
.modal h2 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 8,56px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  margin-top: 30px;
}
.site-description {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  color: #283136;
  font-weight: medium;
  font-family: 'Roboto', 'Arial', sans-serif;
  vertical-align: middle;
}
.price {
  display: inline-block;
  width: 140px;
  background: #fb565a;
  color: white;
  text-decoration: none;
  font-weight: medium;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 2px;
  vertical-align: middle;
  margin-left: 10px;
}
.price-thai {
  display: block;
  margin-top: -5px;
}
.price:hover{
  background: #cc3366;
}
.price:active{
  background: #b63538;
}
.pages {
  margin-bottom: 78px;
  margin-top: 10px;
}
.active-page {
  display: inline-block;
  width: 34px;
  border: 2px solid #f1f1f1;
  color: #000000;
  text-decoration: none;
  font-weight: medium;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  outline: none;
  border-radius: 5px;
  padding: 8px 0;
  margin-right: 6px;
}
.page2, .page3 {
  display: inline-block;
  width: 34px;
  border: 2px solid #f1f1f1;
  background: #f1f1f1;
  color: #000000;
  text-decoration: none;
  font-weight: medium;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 0;
  margin-right: 6px;
}
.next {
  display: inline-block;
  width: 138px;
  border: 2px solid #f1f1f1;
  background: #f1f1f1;
  color: #000000;
  text-decoration: none;
  font-weight: medium;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 0;
  margin-right: 6px;
}
.page2:hover, .page3:hover, .next:hover {
background: #e5e5e5;
}
.page2:active, .page3:active, .next:active {
box-shadow: inset 0px 3px 0px 0px  #b5b5b5;
background: #d5d5d5;
}

.sprite {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-icon-basket {
  width: 15px;
  height: 15px;
  background-position: -5px -5px;
}

.sprite-icon-basket-pink {
  width: 15px;
  height: 15px;
  background-position: -30px -5px;
}

.sprite-icon-check-off {
  width: 23px;
  height: 23px;
  background-position: -55px -5px;
}

.sprite-icon-check-off-blocked {
  width: 23px;
  height: 23px;
  background-position: -88px -5px;
}

.sprite-icon-check-off-hover {
  width: 23px;
  height: 23px;
  background-position: -121px -5px;
}

.sprite-icon-check-on {
  width: 27px;
  height: 23px;
  background-position: -154px -5px;
}

.sprite-icon-check-on-blocked {
  width: 27px;
  height: 23px;
  background-position: -191px -5px;
}

.sprite-icon-check-on-hover {
  width: 27px;
  height: 23px;
  background-position: -228px -5px;
}

.sprite-icon-circle {
  width: 25px;
  height: 25px;
  background-position: -265px -5px;
}

.sprite-icon-circle-blocked {
  width: 25px;
  height: 25px;
  background-position: -300px -5px;
}

.sprite-icon-circle-dot {
  width: 25px;
  height: 25px;
  background-position: -335px -5px;
}

.sprite-icon-circle-dot-blocked {
  width: 25px;
  height: 25px;
  background-position: -370px -5px;
}

.sprite-icon-circle-dot-hover {
  width: 25px;
  height: 25px;
  background-position: -405px -5px;
}

.sprite-icon-circle-hover {
  width: 25px;
  height: 25px;
  background-position: -440px -5px;
}

.sprite-icon-down-dir {
  width: 11px;
  height: 10px;
  background-position: -475px -5px;
}

.sprite-icon-down-dir-black {
  width: 11px;
  height: 10px;
  background-position: -496px -5px;
}

.sprite-icon-down-dir-green {
  width: 11px;
  height: 10px;
  background-position: -517px -5px;
}

.sprite-icon-facebook {
  width: 12px;
  height: 22px;
  background-position: -538px -5px;
}

.sprite-icon-instagramm {
  width: 21px;
  height: 21px;
  background-position: -560px -5px;
}

.sprite-icon-up-dir {
  width: 11px;
  height: 10px;
  background-position: -591px -5px;
}

.sprite-icon-up-dir-black {
  width: 11px;
  height: 10px;
  background-position: -612px -5px;
}

.sprite-icon-up-dir-green {
  width: 11px;
  height: 10px;
  background-position: -633px -5px;
}

.sprite-icon-vk {
  width: 26px;
  height: 15px;
  background-position: -654px -5px;
}
/* Всплывающая форма */

@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}



.modal-content {
  display: none;
  position: absolute;
  margin-left: -230px;
  top: 1590px;
  left: 43.5%;
  width: 470px;
  padding: 50px 80px;
  color: #000000;
  background: #ffffff;
  box-shadow: -4px 12px 22px 6px rgba(0, 0, 0, 0.7);

  /*! height: 300px; */
}
.modal-content-close {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  font-size: 0;

  background-color: #fb565a;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 7px;
  width: 26px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 1px;
}
.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}
.letter-form input[type="text"] {

  width: 186px;
  margin: 0;
  margin-bottom: 10px;
  padding: 5px 15px;

  font-size: 12px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  margin-top: -5px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}
.letter-form p{
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  /*! margin-top: 3px; */
}
.text-letter {
  margin-top: 12px;
}
.form-name, .form-email {
  display: inline-block;
  margin-top: -13px;
}
.form-email {
  margin-left: 13px;
}
.textarea {

}
.letter-form textarea {
  margin: 0;
  margin-bottom: 10px;
  padding: 7px 12px;

  font-size: 12px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  margin-top: -5px;
  width: 429px;
  height: 95px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}
.letter-form input[type="text"]:hover,
.letter-form textarea:hover {
  border: 2px solid #a2a9ac;
}
.letter-form input[type="text"]:focus,
.letter-form textarea:focus {
  border: 2px solid #56bffb;
}

.letter-form input[type="submit"] {
  display: inline-block;
  width: 460px;
  background: #fb565a;
  color: #ffffff;
  text-decoration: none;
  font-weight: medium;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 2px;
  margin-left: 0px;
  margin-top: 40px;
}
.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}
.modal-error {
  animation: shake 0.6s;
}

/* {
outline: 1px dashed red;
}*/
