body {
  font-size: 16px;
  line-height:22px;
  color: #283136;
  font-weight: medium;
  font-family: 'Roboto', 'Arial', sans-serif;
  margin: 0 auto;
  padding: 0;
  min-width: 900px;
}
.main-header {
  background: #eeeeee;
  color: #000000;
  font-size: 0;
}
.container {
  width: 880px;
  margin: 0 auto;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-logo {
  display: inline-block;
  width: 139px;
  vertical-align: top;
  margin-top: 27px;
}
.container-navigation{
  display: inline-block;
  width: auto;
  vertical-align: top;
  margin-left: 135px;
}
.main-navigation ul{
  margin: 0;
  padding: 0;
  font-size: 0;
}
.navigation-point{
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  width: auto;
  list-style: none;
  margin-top: 52px;
  margin-bottom: 35px;
}
.choose {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  width: auto;
  list-style: none;
  margin-top: 52px;
  margin-bottom: 33px;
}
.main-navigation a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  margin-left: 45px;
}
.main-navigation a:hover{
  color: #ff6666;
}
.main-navigation a:active{
  opacity: 0.4;
  color: #000000;
}
.choose div{
  color: #000000;
  text-transform: uppercase;
  margin-left: 45px;
  border-bottom: 2px solid #ff6666;
}
.basket {
  float: right;
  max-width: 100px;
}

.basket a{
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  padding-left: 30px;
  margin-top: 52px;
  margin-bottom: 33px;
  color: #000000;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
}
.basket a::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 2px;
  background: transparent url("../img/sprite.png") no-repeat;
  opacity: 0.3;
  width: 15px;
  height: 15px;
  background-position: -5px -5px;
}
.basket a:hover::before {
  background-position: -30px -5px;
  opacity: 1;
}
.basket a:active::before {
  background-position: -5px -5px;
  opacity: 0.15;
}

.basket a:hover{
  color: #ff6666;
}
.basket a:active{
  opacity: 0.4;
  color: #000000;
}

.main-block1 {
  min-height: 225px;
  background: #eeeeee;
  margin-bottom: 80px;
}
.promo {
  width: 470px;
  min-height: 195px;
  float:left;
  margin-top: 22px;
  margin-bottom: 70px;
}
.img-slider1, .img-slider2, .img-slider3 {
  float: right;
}
.img-slider1{
  width: 340px;
  margin-right: 10px;
  margin-top: 5px;
}
.img-slider2{
  margin-top: 5px;
}
.img-slider3{
  width: 333px;
  height: 319px;
  margin-right: 3px;
}
.slider1, .slider2 {
  display: none;
}
.slider-heading, .about-us-heading, .footer-heading{
  font-size: 36px;
  line-height: 36px;
}
.slider-text, .about-us-text, .footer-text{
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 30px;
}


.btn-more {
  display: inline-block;
  width: 240px;
  background: #fb565a;
  color: white;
  text-decoration: none;
  font-weight: medium;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 2px;
}

.service {
  width: 880px;
  height: auto;
  background: #ffffff;
}
.service-content {
  width: 240px;
  height: auto;
  float: left;
  margin-right: 80px;
}
.service-content:last-child {
  margin-right: 0;
}
.service-heading {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.service-text {
  font-size: 15px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 25px;
}
.btn-buy{
  display: inline-block;
  width: 140px;
  background: #fb565a;
  color: white;
  text-decoration: none;
  font-weight: medium;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 2px;
  margin-bottom: 80px;
}
.pink:hover{
  background: #cc3366;
}
.pink:active{
  background: #b63538;
}
.green{
  background: #00cc66;
}
.green:hover{
  background: #01a25e;
}
.green:active{
  background: #009053;
}
.yellow {
  background: #ffcc33;
}
.yellow:hover {
  background: #d6ae2c;
}
.yellow:active {
  background: #c09b24;
}
.service::after {
  content: "";
  display: block;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 59px;
}

.about-us {
  width: 880px;
  height: auto;
  background: #ffffff;
}
.about-us-top {
  width: 880px;
}

.about-us-bottom {
  width: 880px;
  padding-bottom: 49px;
}
.about-us-left {
  float: left;
  width: 600px;
}
.about-us-right{
  float: right;
  width: 240px;
}
.about-us-heading {
  margin-top: 10px;
  margin-bottom: 20px;
}
.about-us-text {

}
.uppercase {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 25px;
}

.about-us-list {
  margin: 14px 0;
  padding: 0;
  list-style: none;
}

.about-us-list li {
  position: relative;

  margin-bottom: 22px;
  padding-left: 35px;
}

.about-us-list li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}
.full-logo img {
  margin-left: 30px;

}
.about-us-date {
  margin-top: 22px;
  margin-bottom: 42px;
  text-align: center;
}
.about-us-date span{
  position: relative;
  z-index: 2;
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  font-size: 16px;
  line-height: 8,56px;
  text-align: center;
  background: white;
  text-transform: uppercase;
}
.about-us-date::after {
  content: "";
  position: relative;
  top: -10px;
  z-index: 1;
  display: block;
  border-bottom: 2px solid #eeeeee;
}
.about-us::after {
  content: "";
  display: block;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 40px;
}

.logos {
  font-size: 0px;
  background: #ffffff;
  text-align: center;
}
.logos::after {
  content: "";
  display: block;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 85px;
  margin-top: 25px;
}
.logo-client {
  margin-right: 117px;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.2;
}
.logo-client:last-child {
  margin-right: 0;
}

.logo-client:hover{
  opacity: 1.0;
}
.logo-client:active{
  opacity: 1.0;
}

.map {
  height: 100%;
  position: relative;
}
.map img{
  width: 100%;
  height: auto;
}

.contant-us{
  width: 250px;
  height: 240px;
  margin: 88px 0 88px 160px;
  background-color: #ffffff;
  position: absolute;
  top: 0px;
}
.contant-us h2{
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 20px;
}
.contant-us p{
  font-size: 16px;
  line-height: 20px;
  margin-left: 20px;
  color: #666666;
}
.contant-us p span{
  display: block;
  margin-top: 30px;
}
.btn-contact-us {
  display: inline-block;
  width: 204px;
  background: #fb565a;
  color: white;
  text-decoration: none;
  font-weight: medium;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 2px;
  margin-bottom: 80px;
  margin-left: 20px;
  margin-top: 10px;
}
.btn-contact-us:hover{
  background: #cc3366;
}
.btn-contact-us:active{
  background: #b63538;
}

.main-footer {
  min-height: 215px;
  background: #ffffff;
}
.footercontainer {
  font-size: 0;
  padding-top: 77px;
}

.social-network {
  width: 320px;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  text-align: left;
}
.social-network-text {
  width: 560px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.footer-heading {
  display: block;
  margin: 0;
}
.footer-text {
  display: block;
  margin-top: 10px;
}
.social-btn {
  width: 62px;
  height: 62px;
  background-color: #cccccc;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  text-align: left;
  margin-right: 26px;
  position: relative;
}
.social-btn:hover{
  background-color: #fb565a;
}
.social-btn:active{
  background-color: #d6494d;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent url("../img/sprite.png") no-repeat;
  transform: translate(-50%, -50%);
}

.social-btn-vk::before {
  width: 26px;
  height: 15px;
  background-position: -654px -5px;
}
.social-btn-fb::before {
  width: 12px;
  height: 22px;
  background-position: -538px -5px;
}
.social-btn-inst::before {
  width: 21px;
  height: 21px;
  background-position: -560px -5px;
}

/*#circle {
width: 100px;
height: 100px;
background: red;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
}*/
.shop-heading {
  display: block;
  width: 665px;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding-top: 33px;
}
.shop{
  background: #ffffff;
}
.choise {
  float: left;
  width: 230px;
}
.range-filter {
  width: 240px;
  margin: 50px auto; /* для демонстрации */
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f1f1f1;
}


input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  display: block;
  margin: 10px 0;
  line-height: 25px;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}
input[type="radio"] + label::before {
 content: "";
 display: block;
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 background: url('../img/sprite.png') no-repeat;
 width: 25px;
 height: 25px;
 background-position: -265px -5px;
}
input[type="radio"] + label:hover::before {
  width: 25px;
  height: 25px;
  background-position: -440px -5px;
}
input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url('../img/sprite.png') no-repeat;
  width: 25px;
  height: 25px;
  background-position: -335px -5px;
}
input[type="radio"]:checked + label:hover::after {
  width: 25px;
  height: 25px;
  background-position: -405px -5px;
}


input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: block;
  margin: 10px 0;
  line-height: 25px;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}
input[type="checkbox"] + label::before {
 content: "";
 display: block;
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 background: url('../img/sprite.png') no-repeat;
 width: 23px;
 height: 23px;
 background-position: -55px -5px;
}
input[type="checkbox"] + label:hover::before {
  width: 23px;
  height: 23px;
  background-position: -121px -5px;
}
input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url('../img/sprite.png') no-repeat;
  width: 27px;
  height: 23px;
  background-position: -154px -5px;
}
input[type="checkbox"]:checked + label:hover::after {
  width: 27px;
  height: 23px;
  background-position: -228px -5px;
}
.choise-list {
  margin: 0;
  padding: 0;
}
.choise-list li  label{
  font-size: 16px;
  line-height: 20px;
}
.form-heading{
  font-size: 18px;
  text-transform: uppercase;
  line-height: 30px;
}

.form-item {
  list-style: none;
}

.sites {
  float: right;
  width: 560px;
}
.sort{
  width: 560px;
  font-size: 0;
}
.sort-text {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 18px;
  color: #000000;
}

.sort-menu ul{
  font-size: 0;
}
.sort-menu li{
  display: inline-block;
  list-style: none;
}
.sort-menu li a{
  font-size: 12px;
  text-transform: uppercase;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  padding-right: 36px;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #01a25e;
}
.sort-text, .sort-menu, .triangle-up, .triangle-down{
  display: inline-block;
  font-size: 12px;
}
.sort-menu li a:hover{
  text-decoration: underline;
  text-decoration-color: #01a25e;
}
.triangles {
  float:right;
  font-size: 0;
  width: 28px;
}
.triangle-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #c1c1c1;
  margin-top: 20px;
}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #c1c1c1;
  margin-right: 5px;
}

.triangle-up:active{
  border-top: 10px solid #000000;
}
.triangle-down:active{
  border-bottom: 10px solid #000000;
}


.img {
  font-size: 0;
}
.sites-img {
  display: inline-block;
  width: 240px;
  font-size: 16px;
  margin-right: 80px;
  margin-bottom: 80px;
  vertical-align: bottom;
  position: relative;
}
.sites-img:nth-child(2n) {
  margin-right: 0;
}
.site-window{
  padding-top: 30px;
  display: block;
  height: 240px;
  background: #f1f1f1;
  border-radius: 4px;
  position: relative;
}
.site-window::before {
  content: "";
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 8px;
}
.site-window::after {
  content: "";
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 26px;
}
.sites-img::after {
  content: "";
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 44px;
}
.site-window:hover {
  background: #797979;
}

.modal {
  width: 200px;
  height: 200px;
  background: white;
  position: absolute;
  top: 50px;
  left: 20px;
  display: none;

}
.sites-img:hover .modal{
  display: block;
}
.modal-center {
  width: 163px;
  width: 160px;
  margin: 0 auto;
}
.modal h2 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 8,56px;
  text-align: center;
  color: #000000;
  vertical-align: middle;;
}
.site-description {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  color: #283136;
  font-weight: medium;
  font-family: 'Roboto', 'Arial', sans-serif;
  vertical-align: middle;
}
.price {
  display: inline-block;
  width: 140px;
  background: #fb565a;
  color: white;
  text-decoration: none;
  font-weight: medium;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 2px;
  vertical-align: middle;
  margin-left: 10px;
}
.price:hover{
  background: #cc3366;
}
.price:active{
  background: #b63538;
}

.pages {
  margin-bottom: 78px;
}
.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-basket {
    width: 15px;
    height: 15px;
    background-position: -5px -5px;
}

.sprite-icon-basket-pink {
    width: 15px;
    height: 15px;
    background-position: -30px -5px;
}

.sprite-icon-check-off {
    width: 23px;
    height: 23px;
    background-position: -55px -5px;
}

.sprite-icon-check-off-blocked {
    width: 23px;
    height: 23px;
    background-position: -88px -5px;
}

.sprite-icon-check-off-hover {
    width: 23px;
    height: 23px;
    background-position: -121px -5px;
}

.sprite-icon-check-on {
    width: 27px;
    height: 23px;
    background-position: -154px -5px;
}

.sprite-icon-check-on-blocked {
    width: 27px;
    height: 23px;
    background-position: -191px -5px;
}

.sprite-icon-check-on-hover {
    width: 27px;
    height: 23px;
    background-position: -228px -5px;
}

.sprite-icon-circle {
    width: 25px;
    height: 25px;
    background-position: -265px -5px;
}

.sprite-icon-circle-blocked {
    width: 25px;
    height: 25px;
    background-position: -300px -5px;
}

.sprite-icon-circle-dot {
    width: 25px;
    height: 25px;
    background-position: -335px -5px;
}

.sprite-icon-circle-dot-blocked {
    width: 25px;
    height: 25px;
    background-position: -370px -5px;
}

.sprite-icon-circle-dot-hover {
    width: 25px;
    height: 25px;
    background-position: -405px -5px;
}

.sprite-icon-circle-hover {
    width: 25px;
    height: 25px;
    background-position: -440px -5px;
}

.sprite-icon-down-dir {
    width: 11px;
    height: 10px;
    background-position: -475px -5px;
}

.sprite-icon-down-dir-black {
    width: 11px;
    height: 10px;
    background-position: -496px -5px;
}

.sprite-icon-down-dir-green {
    width: 11px;
    height: 10px;
    background-position: -517px -5px;
}

.sprite-icon-facebook {
    width: 12px;
    height: 22px;
    background-position: -538px -5px;
}

.sprite-icon-instagramm {
    width: 21px;
    height: 21px;
    background-position: -560px -5px;
}

.sprite-icon-up-dir {
    width: 11px;
    height: 10px;
    background-position: -591px -5px;
}

.sprite-icon-up-dir-black {
    width: 11px;
    height: 10px;
    background-position: -612px -5px;
}

.sprite-icon-up-dir-green {
    width: 11px;
    height: 10px;
    background-position: -633px -5px;
}

.sprite-icon-vk {
    width: 26px;
    height: 15px;
    background-position: -654px -5px;
}


/* {
  outline: 1px dashed red;
}*/
